.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f6f7fb;
}

.login-box {
  width: 420px;               /* bigger */
  background: #fff;
  padding: 35px;
  border-radius: 14px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
}

/* Heading */
.login-box h2 {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 8px;
}

.login-subtitle {
  text-align: center;
  font-size: 14px;
  color: #777;
  margin-bottom: 25px;
}

/* Radio buttons */
.role-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.role-container label {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 15px;
  cursor: pointer;
}

/* Labels */
.login-box label {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 6px;
  display: block;
}

/* Inputs */
.login-box input {
  width: 100%;
  padding: 12px;
  font-size: 15px;
  margin-bottom: 18px;
  border-radius: 8px;
  border: 1px solid #ddd;
  outline: none;
}

.login-box input::placeholder {
  color: #aaa;
}

/* Remember row */
.remember-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  margin-bottom: 20px;
}

.remember-me {
  display: flex;
  align-items: center;
  gap: 6px;
}

.remember-me input {
  width: auto;
  margin: 0;
}

/* Forgot */
.forgot {
  color: #2e7d32;
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;
}

/* Button */
.login-box button {
  width: 100%;
  padding: 14px;
  background: #2e7d32;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}

.login-box button:hover {
  background: #1b5e20;
}

/* Bottom text */
.signup-text {
  text-align: center;
  margin-top: 18px;
  font-size: 14px;
}

.signup-text span {
  color: #2e7d32;
  cursor: pointer;
  font-weight: 600;
}
