/* Login3.css */

h2 {
  margin: 0;
  font-weight: 500;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 100%;
}

.form.signin {
  translate: -100% 0;
}

.form.signin.active {
  translate: 0;
}

.form.signup {
  translate: 100% 0;
}

.form.signup.active {
  translate: 0;
}

.form {
  background: inherit;
  z-index: 1;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  padding: 32px;
}

.form p {
  color: #8d889d;
  font-size: 12px;
}

.form input {
  border-radius: 10px;
  border: 0;
  background: #1f1b2b;
  padding: 14px 12px;
}

.form button {
  border: 0;
  padding: 14px 0;
  border-radius: 32px;
  color: #f9f9f9;
  width: 160px;
  background: #8d00ff;
}

@media (max-width: 768px) {
  .form input {
    width: 100%;
  }

  .form button {
    width: 100%;
  }
}
