@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap");
@import "tailwindcss";

#root {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
